{% extends "PaulMaxwellGuestbookBundle::layout.html.twig" %}

{% block body %}
<div class="navbar navbar-default navbar-fixed-top upper-head">
    <div class="pull-left navbar-brand">{{ 'paul_maxwell_guestbook.title'|trans }}</div>
    <div class="pull-right navbar-brand">{{ 'paul_maxwell_guestbook.title'|trans }}</div>
    <div class="clearfix"></div>
    <div class="container" id="gb_form_post">
        {{ include('PaulMaxwellGuestbookBundle:Default:_form.html.twig', {'form': form}) }}
    </div>
</div>
<div class="container posts-container" id="posts-container">
    {% if enableShowPrevious is defined and enableShowPrevious and posts|length > 0 %}
        <div style="margin-bottom: 20px;">
            <a id="gb_show_previous" class="btn btn-default col-md-12" href="{{ url('paul_maxwell_guestbook_homepage', {'before_id': posts|first.id}) }}">{{ 'paul_maxwell_guestbook.show_previous'|trans }}</a>
        </div>
    {% endif %}
    {{ include('PaulMaxwellGuestbookBundle:Default:_posts.html.twig', {'posts': posts, 'disableShowMore': disableShowMore}) }}
</div>
{% endblock body %}
